.action {
  text-align: center;
  flex-shrink: 0;
  &__link {
    line-height: 1;
    margin-top: 4px;
    a {
      color: $gray;
      font-weight: $bold;
      font-size: $fz-12;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}