// User profile
.user-profile {
  .user {
    display: block;
    margin-left: 0;
  }
  .modal {
    background: rgba(0, 0, 0, 0.85);
    .fullScreen {
      padding: 100px 0;
    }
    &__box {
      padding: 50px;
      border-radius: 4px;
    }
    &__close {
      top: 30px;right: 50px;
    }
    &__title {
      font-size: $fz-20;
      line-height: 1.5;
      margin-bottom: 24px;
    }
  }
}

// Balance
.balance {
  margin: 0 20px;
  font-weight: $bold;
  span {
    color: $blue;
  }
}

.account__text {
  line-height: 1.5;
  max-width: 680px;width: 100%;
}

// Media
@media (max-width: $xl) {
  .user-profile .btn-search {
    margin-right: 15px;
  }
}

@media (max-width: $lg) {
  .user-profile .lang {
    margin-right: 15px;
  }
  .balance {
    color: $white;
    margin: 0 0 30px
  }
}

@media (max-width: $md) {
  .user-profile {
    .modal {
      &__box {
        padding: 30px 15px;
      }
      &__close {
        top: 10px;right: 10px;
      }
      &__title {
        font-size: 18px;
        margin-bottom: 20px;
      }
    }
  }
}