// Data
.data {
  &__title {
    display: block; 
    margin-top: 40px;
    font-weight: $bold;
    font-family: $font-second;
  }
  &__txt, .list {
    line-height: 1.5;
    margin-top: 16px;
    a {
      color: $blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__head {
    margin-top: 38px;
    .title {
      padding: 0;
      margin-bottom: 25px;
    }
    .title__h2 {
      color: $light;
      font-size: $fz-32;
    }
    .data__title {
      margin-top: 0;
    }
  }
  &__img {
    margin-top: 32px;
  }
  .top-rooms {
    margin-top: 40px;
  }
  .heading p {
    margin-top: 0;
  }
  &__free {
    margin-top: 32px;
  }
  &__table {
    margin-top: 25px;
  }
}

// Relations
.relations {
  margin-top: 32px;
  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    a {
      color: $blue;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Media
@media (max-width: $lg) {
  .features {
    display: none;
  }
  .data {
    &__head {
      margin-top: 0;
    }
    &__title {
      margin-top: 24px;
    }
  }
}

@media (max-width: $md) {
  .data__table .table__box {
    width: 640px;
  }
  .data .more_load {
    margin-top: 15px;
  }
}

@media (max-width: $sm) {
  .review {
    &:after {
      top: 322px;
    }
  } 
}

@media (max-width: $mob) {
  .review {
    &:after {
      top: 410px;
    }
  } 
}

@media (max-width: $extra-mob) {
  .review {
    &:after {
      top: 397px;
    }
  } 
}