// Pages
.pages {
  font-size: $fz-12;
  &__control {
    li {
      margin-right: 8px;
    }
    a {
      display: block;
      line-height: 24px;
      width: 24px;height: 24px;
    }
  }
  &__btn {
    a {
      border-radius: 2px;
      background: $white-dark;
      display: flex;
      &:hover {
        background: $gray-extra;
      }
    }
    svg {
      fill: $gray;
      width: 7px;height: 12px;
    }
  }
  &__item {
    text-align: center;
    a {
      color: $dark;
      border-radius: 4px;
      border: 1px solid $gray-extra;
      &:hover {
        background: $gray-extra;
      }
    }
  }
  &__show {
    margin-left: 40px;
  }
  &__num {
    line-height: 24px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
    width: 24px;height: 24px;
    border: 1px solid $gray-extra;
  }
}

// Media
@media (max-width: $md) {
  .pages {
    margin-top: 20px;
    justify-content: center;
  }
}

@media (max-width: $mob) {
  .pages {
    flex-wrap: wrap;
    &__show {
      width: 100%;
      margin: 10px 0 0;
      text-align: center;
    }
  }
}