// Fonts
$font-primary: 'Nunito', sans-serif;
$font-second: 'Poppins', sans-serif;
$font-tertiary: 'Kanit', sans-serif;

$regular: normal;
$semibold: 600;
$bold: 700;
$extra-bold: 800;

// Size
$fz-10: 10px;
$fz-12: 12px;
$fz-14: 14px;
$fz-16: 16px;
$fz-18: 18px;
$fz-20: 20px;
$fz-24: 24px;
$fz-26: 26px;
$fz-32: 32px;
$fz-40: 40px;

// Colors
$dark: #333333;
$light: #4F4F4F;

$white: #fff;
$black: #000;
$gray: #828282;
$blue: #1CB9FE;
$blue-dark: #01aef9;
$blue-light: #EBF8FF;
$turquoise: #00E8DA;
$white-dark: #F2F2F2;
$white-light: #E5E5E5;
$white-extra-dark: #FCFCFC;
$gray-light: #BDBDBD;
$gray-thin: #C4C4C4;
$gray-extra: #E0E0E0;
$gray-extra-light: #DDDDDD;
$green: #4AC957;
$red: #EB5757;
$black-light: #010103;
$orange: #F2994A;

// Media
$xxl: 1430px;

$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;

$mob: 480px;
$extra-mob: 370px;